<div class="d-flex justify-content-around align-items-center justify-content-center  p-5 border-top " style="background-color: #F0F3F5;" >
  <ul class="nav d-flex ">
    <li class="mx-4  my-1"><a class="text-body text-decoration-none" href="#">服務方案</a></li>
    <li class="mx-4  my-1"><a class="text-body text-decoration-none" href="#">關於職旅</a></li>
    <li class="mx-4  my-1"><a class="text-body text-decoration-none" href="#">聯絡我們</a></li>
    <li class="mx-4  my-1"><a class="text-body text-decoration-none" href="#">隱私權政策</a></li>
    <li class="mx-4  my-1"><a class="text-body text-decoration-none" href="#">用戶條款</a></li>
  </ul>
  <div class="text-secondary small"> 
    Copyright © 2025 職旅 workway. All rights reserved.
  </div>
</div>