<div class="d-flex justify-content-around align-items-center p-3 bg-light border-bottom">
    <img src="../assets/images/img/logo.svg" alt="#">
    <ul class="nav ">
      <li class="mx-4  my-1"><a class="text-decoration-none" style="color: #141A1F;" href="#">服務方案</a></li>
      <li class="mx-4  my-1"><a class="text-body text-decoration-none" href="#">關於職旅</a></li>
      <li class="mx-4  my-1"><a class="text-body text-decoration-none" href="#">聯絡我們</a></li>
    </ul>
    <div class="d-flex align-items-center">
      <img class="rounded-circle me-1" src="../assets/images/img/avatar.png" alt="#" width="40" height="40">
      <div class="fw-bolder">Mokumaru</div>
    </div>
  </div>
