<div class="d-flex justify-content-around align-items-center p-3 bg-light border-bottom">
    <img src="/assets/images/img/logo.svg" alt="#">
    <ul class="nav ">
      <li class="mx-4  my-1"><a class="text-decoration-none" style="color: #141A1F;" href="#">服務方案</a></li>
      <li class="mx-4  my-1"><a class="text-body text-decoration-none" href="#">關於職旅</a></li>
      <li class="mx-4  my-1"><a class="text-body text-decoration-none" href="#">聯絡我們</a></li>
    </ul>
    <div class="d-flex align-items-center">
      <img class="rounded-circle me-1" src="/assets/images/img/avatar.png" alt="#" width="40" height="40">
      <div class="fw-bolder">Mokumaru</div>
    </div>
  </div>

  <div class="text-center p-5  d-flex justify-content-center" style="background-color: #F0F3F5;">
    <a href="index.html" class="btn d-flex px-3  py-2 me-3 border border-secondary" style="border-radius: 13px; background-color: #E0E5EB;"><span class="material-icons me-1">face</span>個人資料</a>
    <a href="two.html" class="btn d-flex px-3  py-2 me-3 bg-white border border-secondary" style="border-radius: 13px;"><span class="material-icons me-1">pending_actions</span>預約紀錄</a>
    <a href="three.html" class="btn d-flex px-3  py-2 me-3 bg-white border border-secondary" style="border-radius: 13px;"><span class="material-icons me-1">list_alt</span>職旅計劃</a>
  </div>